Repository kroxylicious/kroxylicious, pull requests merged in 2023-12, with the labels that each got.

#792 Fix #777: release automation
  .github/workflows/deploy_release.yml
  .github/workflows/stage_release.yml
  RELEASING.md
  kroxylicious-bom/pom.xml
  scripts/stage-release.sh
  scripts/transition-github-release-note-state.sh
  scripts/transition-staging-repository-state.sh
Labels: release-process

#798 Encryption Filter: Refactor Serialization to new Parcel Scheme
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-encryption/doc/design.adoc
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/AadSpec.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/CipherCode.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EncryptionConfigurationException.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EncryptionException.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EncryptionVersion.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/KeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/ParcelVersion.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/WrapperVersion.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/ExhaustedDekException.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/KeyContext.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/Parcel.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/ParcelTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/TestingDek.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionFilterIT.java
  pom.xml
Labels: filter: encryption

#788 Encryption Filter: Retry DEK creation. Ensure encryptions after a failed future can succeed
  kroxylicious-filters/kroxylicious-encryption/pom.xml
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/EncryptorCreationException.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/KeyContext.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
  pom.xml
Labels: filter: encryption

#807 [GitHub] [Actions] Update actions/cache from v2 to v3, actions/checkout from v3 to v4 and actions/setup-java from v3 to v4.
  .github/workflows/asciidoctor-ghpages.yml
  .github/workflows/deploy_release.yml
  .github/workflows/docker.yml
  .github/workflows/maven.yml
  .github/workflows/sonar.yml
  .github/workflows/stage_release.yml
Labels: dependencies, release-process

#808 Release instruction should use rebase/merge strategy.
  RELEASING.md
Labels: release-process

#791 Making EnvelopeEncryptionFilterIT a template test so it can test HashiCorp Vault too
  kroxylicious-bom/pom.xml
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryption.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/TemplateKekSelector.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/TemplateKekSelectorTest.java
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionFilterIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionTestInvocationContextProvider.java
  kroxylicious-kms-provider-hashicorp-vault-test-support/pom.xml
  kroxylicious-kms-provider-hashicorp-vault-test-support/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultTestKmsFacade.java
  kroxylicious-kms-provider-hashicorp-vault-test-support/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultTestKmsFacadeFactory.java
  kroxylicious-kms-provider-hashicorp-vault-test-support/src/main/resources/META-INF/services/io.kroxylicious.kms.service.TestKmsFacadeFactory
  kroxylicious-kms-provider-hashicorp-vault-test-support/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultTestKmsFacadeTest.java
  kroxylicious-kms-provider-hashicorp-vault/pom.xml
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKms.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsIT.java
  kroxylicious-kms-provider-kroxylicious-inmemory-test-support/pom.xml
  kroxylicious-kms-provider-kroxylicious-inmemory-test-support/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryTestKmsFacade.java
  kroxylicious-kms-provider-kroxylicious-inmemory-test-support/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryTestKmsFacadeFactory.java
  kroxylicious-kms-provider-kroxylicious-inmemory-test-support/src/main/resources/META-INF/services/io.kroxylicious.kms.service.TestKmsFacadeFactory
  kroxylicious-kms-provider-kroxylicious-inmemory-test-support/src/test/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryTestKmsFacadeTest.java
  kroxylicious-kms-test-support/pom.xml
  kroxylicious-kms-test-support/src/main/java/io/kroxylicious/kms/service/AbstractTestKmsFacadeTest.java
  kroxylicious-kms-test-support/src/main/java/io/kroxylicious/kms/service/TestKekManager.java
  kroxylicious-kms-test-support/src/main/java/io/kroxylicious/kms/service/TestKmsFacade.java
  kroxylicious-kms-test-support/src/main/java/io/kroxylicious/kms/service/TestKmsFacadeFactory.java
  pom.xml
Labels: testing, filter: encryption

#817 Set requestTimeout == connectTimeout on vault KMS
  CHANGELOG.md
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKms.java
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsService.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsTest.java
Labels: enhancement, filter: encryption

#835 Fix: #827: Release process should update version number references in container image refs too
  CHANGELOG.md
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/resources/metadata.properties
  kubernetes-examples/README.md
  kubernetes-examples/envelope-encryption/README.md
  scripts/stage-release.sh
Labels: release-process

#839 Ensure the decryption maintains record ordering, regardless of completion order of the decryptor.
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionFilterIT.java
Labels: bug, filter: encryption
