Repository kroxylicious/kroxylicious, pull requests merged in 2024-12, with the labels that each got.

#1596 operator: enable users to supply labels to Kroxylicious podTemplate
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeployment.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/kafkaproxies.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Secret-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Service-one.yaml
Labels: operator

#1631 Enable mTLS for downstream clients
  CHANGELOG.md
  kroxylicious-api/pom.xml
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/ServerOptions.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/Tls.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/TlsClientAuth.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/TrustOptions.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/TrustProvider.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/TrustStore.java
  kroxylicious-api/src/test/java/io/kroxylicious/proxy/config/tls/InsecureTlsTest.java
  kroxylicious-api/src/test/java/io/kroxylicious/proxy/config/tls/TlsParseTest.java
  kroxylicious-api/src/test/java/io/kroxylicious/proxy/config/tls/TlsTest.java
  kroxylicious-api/src/test/java/io/kroxylicious/proxy/config/tls/TrustStoreTest.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/proxy/config/BuilderConfig.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsTlsIT.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/config/JdkTlsTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/NettyTrustProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/model/VirtualCluster.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/NettyTrustProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/model/VirtualClusterTest.java
Labels: authentication

#1648 Add opt-in test-only configuration to Proxy
  CHANGELOG.md
  kroxylicious-app/src/main/java/io/kroxylicious/app/Kroxylicious.java
  kroxylicious-app/src/test/java/io/kroxylicious/app/KroxyliciousIT.java
  kroxylicious-app/src/test/java/io/kroxylicious/app/KroxyliciousTest.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousTesterBuilder.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousTesters.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/IllegalConfigurationException.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/config/Feature.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/config/Features.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/config/FeaturesTest.java
Labels: runtime

#1656 Fix #1612: KIP-932 Rewrite broker address information carried by ShareFetchResponse and ShareAckResponse [Kafka Unstable]
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ProxyRpcTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/filter/BrokerAddressFilter.java
  kroxylicious-runtime/src/test/resources/io/kroxylicious/proxy/internal/filter/ShareAcknowledge.test.yaml
  kroxylicious-runtime/src/test/resources/io/kroxylicious/proxy/internal/filter/ShareFetch.test.yaml
Labels: transparent proxy

#1645 Documentation for downstream TLS client auth
  docs/modules/configuring/con-configuring-client-connections.adoc
  docs/modules/configuring/ref-configuring-proxy-example.adoc
Labels: documentation, authentication

#1657 Fix #1436 : remove forwardPartialRequests feature of record validation filter
  CHANGELOG.md
  docs/modules/record-validation/proc-record-validation.adoc
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/ProduceRequestValidatorBuilder.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/RecordValidation.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/RecordValidationFilter.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/config/ValidationConfig.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/validators/request/ProduceRequestValidationResult.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/validators/topic/AllValidTopicValidationResult.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/validators/topic/PerPartitionTopicValidationResult.java
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/validation/validators/topic/TopicValidationResult.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/validation/RecordValidationFilterTest.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/validation/RecordValidationTest.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/validation/config/ValidationConfigTest.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/validation/validators/topic/PerPartitionTopicValidationResultTest.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/validation/validators/topic/PerRecordTopicValidatorTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/validation/JsonSyntaxRecordValidationIT.java
Labels: filter: record-validation

#1442 Fix #1294: AWS KMS - support authentication from instance metadata of EC2
  CHANGELOG.md
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/AbstractAwsKmsTestKmsFacade.java
  kroxylicious-kms-provider-aws-kms/DEV_GUIDE.md
  kroxylicious-kms-provider-aws-kms/pom.xml
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/AwsKms.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsService.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/AwsV4SigningHttpRequestBuilder.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/config/Config.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/config/Ec2MetadataCredentialsProviderConfig.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/config/JdkTls.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/config/LongTermCredentialsProviderConfig.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/credentials/Credentials.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/credentials/CredentialsProvider.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/credentials/CredentialsProviderFactory.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/credentials/Ec2MetadataCredentialsProvider.java
  kroxylicious-kms-provider-aws-kms/src/main/java/io/kroxylicious/kms/provider/aws/kms/credentials/LongTermCredentialsProvider.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsServiceTest.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsTest.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsV4SigningHttpRequestBuilderTest.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/credentials/CredentialsProviderFactoryTest.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/credentials/Ec2MetadataCredentialsProviderTest.java
  kroxylicious-kms-provider-aws-kms/src/test/java/io/kroxylicious/kms/provider/aws/kms/credentials/LongTermCredentialsProviderTest.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kms/aws/KubeAwsKmsCloudTestKmsFacade.java
Labels: enhancement, filter: record-encryption

#1655 Fix #1294: docs for AWS EC2 authentication
  docs/_assets/attributes.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config-identity-ec2-metadata.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config-identity-long-term.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-setup-application-identity-ec2-metadata.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-setup-application-identity-long-term.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-setup.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-service-config.adoc
Labels: documentation, filter: record-encryption

#1684 Remove leading newline in the doc index template that breaks the asciidoc rendering
  scripts/stage-docs.sh
Labels: release-process

#1686 Build and push SNAPSHOT operator images
  .github/workflows/docker.yaml
  DEV_GUIDE.md
  Dockerfile.operator
  scripts/run-operator.sh
Labels: build, github_actions, operator

#1692 Fix SNI TLS kubernetes example script path
  kubernetes-examples/network-topologies/snirouting_tls/postinstall.sh
Labels: bug
