Repository kroxylicious/kroxylicious, pull requests merged in 2024-03, with the labels that each got.

#1050 Change AES GCM cipher to require a 256bit key
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/dek/CipherSpec.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/EncryptionDekCache.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/FixedDekKmsService.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/RecordEncryptorTest.java
Labels: filter: encryption

#1056 Bump EncryptionVersion to 2 and warn users about dead alpha format
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/AadSpec.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/EncryptionVersion.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/WrapperVersion.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandEncryptionManager.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/WrapperVersionTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/RecordEncryptorTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionDeserializationCompatibilityIT.java
Labels: filter: encryption

#1074 Port-per-broker Exposition: make lowest broker id configurable
  CHANGELOG.md
  docs/deploying.adoc
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ExpositionIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProviderTest.java
Labels: enhancement

#1085 `setVersions` -> `updateVersions` we know the source version in all contexts
  scripts/stage-release.sh
Labels: bug, release-process, github_actions
