Repository kroxylicious/kroxylicious, pull requests merged in 2024-02, with the labels that each got.

#949 VaultKmsTlsIT fails if docker is unavailable
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsTlsIT.java
Labels: tests

#944 Logging improvements
  kroxylicious-app/pom.xml
  kroxylicious-app/src/main/resources/log4j2.yaml
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/ResilientKms.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/FilterHandler.java
  pom.xml
Labels: filter: encryption

#952 Support HashiCorp Vault namespaces (Enterprise feature) and allow non-standard transit engine names
  CHANGELOG.md
  kroxylicious-kms-provider-hashicorp-vault-test-support/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultTestKmsFacade.java
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKms.java
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsService.java
  kroxylicious-kms-provider-hashicorp-vault/src/main/java/io/kroxylicious/kms/provider/hashicorp/vault/config/Config.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/TestVault.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/VaultKmsTest.java
  kroxylicious-kms-provider-hashicorp-vault/src/test/java/io/kroxylicious/kms/provider/hashicorp/vault/config/ConfigParseTest.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/vault/KubeVaultTestKmsFacade.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kubernetes-examples/envelope-encryption/base/kroxylicious/kroxylicious-config.yaml
Labels: bug

#994 Add test for parcel binary compatibility
  kroxylicious-filters/kroxylicious-encryption/pom.xml
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/ParcelTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/header-serialization-disabled.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/record-with-header.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/record-with-headers.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/record-with-null-header-value.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/record-with-null-value.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/record-with-value.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/value-and-header-serialization-disabled.json.yaml
  kroxylicious-filters/kroxylicious-encryption/src/test/resources/serialization/parcel/value-serialization-disabled.json.yaml
Labels: enhancement, filter: encryption

#1007 Bugfix: containers failing to start in cgroups v2 container
  kroxylicious-app/src/assembly/run-java.sh
Labels: bug

#1020 Bugfix: KMS retry logic failing with Null Pointers
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryption.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/ResilientKms.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/ResilientKmsTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/FilterIT.java
Labels: bug, filter: encryption

#1032 Cache unknown alias resolutions for 30 seconds
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/CachingKms.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryption.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/CachingKmsTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionTest.java
Labels: filter: encryption

#1017 Integration test decryption of data
  etc/checkstyle-custom_checks.xml
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/dek/DekManagerTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionDeserializationCompatibilityIT.java
  kroxylicious-kms-provider-kroxylicious-inmemory/pom.xml
  kroxylicious-kms-provider-kroxylicious-inmemory/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryKms.java
  kroxylicious-kms-provider-kroxylicious-inmemory/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/IntegrationTestingKmsService.java
  kroxylicious-kms-provider-kroxylicious-inmemory/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/UnitTestingKmsService.java
  kroxylicious-kms-provider-kroxylicious-inmemory/src/test/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/UnitTestingKmsServiceTest.java
Labels: enhancement, filter: encryption

#1029 Upgrade to Kafka 3.7.0
  .idea/jarRepositories.xml
  CHANGELOG.md
  kroxylicious-filter-test-support/src/main/templates/KafkaApiAssertJConditions.ftl
  kroxylicious-filters/kroxylicious-multitenant/src/test/java/io/kroxylicious/proxy/filter/multitenant/MultiTenantTransformationFilterTest.java
  kroxylicious-krpc-plugin/src/main/java/io/kroxylicious/krpccodegen/schema/MessageSpec.java
  kroxylicious-krpc-plugin/src/test/resources/Data/example-expected-FetchRequest.java.txt
  kroxylicious-krpc-plugin/src/test/resources/Kproxy/KrpcRequestFilter-expected.txt
  kroxylicious-krpc-plugin/src/test/resources/hello-world/example-expected-FetchRequest.txt
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/codec/KafkaRequestDecoder.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/filter/BrokerAddressFilter.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/filter/BrokerAddressFilterTest.java
  kroxylicious-runtime/src/test/resources/io/kroxylicious/proxy/internal/filter/Fetch.test.yaml
  kroxylicious-runtime/src/test/resources/io/kroxylicious/proxy/internal/filter/Produce.test.yaml
  kroxylicious-systemtests/pom.xml
  pom.xml
Labels: enhancement, dependencies
