Repository kroxylicious/kroxylicious, pull requests merged in 2024-08, with the labels that each got.

#1366 docs(refactor): refactor and refresh of filter content
  .gitignore
  DEV_GUIDE.md
  docs/README.md
  docs/_assets/attributes.adoc
  docs/_assets/trademarks.adoc
  docs/assemblies/assembly-aws-kms.adoc
  docs/assemblies/assembly-built-in-filters.adoc
  docs/assemblies/assembly-hashicorp-vault.adoc
  docs/assemblies/assembly-overview.adoc
  docs/assemblies/assembly-record-encryption-filter.adoc
  docs/available-filters.adoc
  docs/available-filters/record-encryption/record-encryption.adoc
  docs/index.adoc
  docs/modules/con-community-filters.adoc
  docs/modules/con-custom-filters.adoc
  docs/modules/con-deploying.adoc
  docs/modules/con-operating.adoc
  docs/modules/con-proxy-overview.adoc
  docs/modules/multi-tenancy/con-multi-tenancy.adoc
  docs/modules/oauthbearer/con-oauthbearer.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-key-creation.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-setup.adoc
  docs/modules/record-encryption/con-record-encryption-overview.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-key-creation.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-service-config.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-setup.adoc
  docs/modules/record-encryption/proc-configuring-record-encryption-filter.adoc
  docs/modules/schema-validation/con-schema-validation.adoc
  pom.xml
Labels: documentation

#1400 Fix #1289: expose maxEncryptionsPerDek for configuration
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryption.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/DekManagerConfig.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/RecordEncryptionConfig.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/RecordEncryptionTest.java
Labels: enhancement, filter: record-encryption

#1355 Integration tests for the OAuthBearerValidation filter
  kroxylicious-filters/kroxylicious-oauthbearer-validation/src/main/java/io/kroxylicious/proxy/filter/oauthbearer/OauthBearerValidation.java
  kroxylicious-filters/kroxylicious-oauthbearer-validation/src/test/java/io/kroxylicious/proxy/filter/oauthbearer/OauthBearerValidationTest.java
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/oauthbearer/OauthBearerValidationIT.java
  pom.xml
Labels: tests, filter: record-validation

#1405 Add ability to access metrics from KroxyliciousTester
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/AdminHttpClient.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousClients.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/SimpleMetric.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/SimpleMetricTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/MetricsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/oauthbearer/OauthBearerValidationIT.java
Labels: tests, refactoring

#1411 record-encryption: document KEK rotation implications and config
  docs/modules/record-encryption/con-record-encryption-overview.adoc
  docs/modules/record-encryption/proc-configuring-record-encryption-filter.adoc
Labels: documentation, filter: record-encryption

#1418 Jce fix
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/dek/Aes.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/dek/ChaChaPoly.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/dek/CipherManager.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/dek/DekManager.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/dek/DekManagerTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/dek/NullCipherManager.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/encrypt/RecordEncryptorTest.java
  kroxylicious-kms/src/main/java/io/kroxylicious/kms/service/DestroyableRawSecretKey.java
Labels: bug, filter: record-encryption

#1424 record-encryption: log details about Cipher origin
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryption.java
Labels: enhancement, filter: record-encryption

#1417 Extend JsonSchemaValidator to validate the schema id used by the producer matches the schema id configured at the proxy.
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-record-validation/pom.xml
  kroxylicious-filters/kroxylicious-record-validation/src/main/java/io/kroxylicious/proxy/filter/schema/validation/bytebuf/JsonSchemaBytebufValidator.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/schema/JsonSchemaBytebufValidatorTest.java
  kroxylicious-filters/kroxylicious-record-validation/src/test/java/io/kroxylicious/proxy/filter/schema/JsonSyntaxBytebufValidatorTest.java
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/schema/validation/JsonSchemaValidationIT.java
  pom.xml
Labels: tests, filter: record-validation

#1429 Fix #1415: Improve record validation docs
  CHANGELOG.md
  docs/assemblies/assembly-built-in-filters.adoc
  docs/assemblies/assembly-record-validation-filter.adoc
  docs/modules/record-validation/proc-record-validation.adoc
  docs/modules/schema-validation/con-schema-validation.adoc
Labels: documentation, filter: record-validation

#1413 Fix #1348: Rework the Record Encryption documentation describing the role of the administrator
  CHANGELOG.md
  docs/modules/record-encryption/aws-kms/con-aws-kms-key-creation.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-setup.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-key-creation.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-setup.adoc
Labels: documentation, filter: record-encryption

#1435 Document global id validation
  docs/_assets/attributes.adoc
  docs/modules/record-validation/proc-record-validation.adoc
Labels: documentation, filter: record-validation

#1441 Fix ##1440 : Address sporadically failing CacheKmsTests
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/kms/CachingKms.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/kms/CachingKmsTest.java
Labels: tests, filter: record-encryption

#1443 Replace versions in doc book when releasing.
  .gitignore
  docs/_assets/attributes.adoc
  docs/modules/con-operating.adoc
  scripts/stage-release.sh
Labels: release-process

#1456 Skip japicmp checks if reference release isn't published
  .github/workflows/maven.yaml
Labels: release-process

#1476 [test refactoring] simplify the way the IT test tells the kafka client to retrieve schema
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/validation/JsonSchemaRecordValidationIT.java
Labels: tests, filter: record-validation
