Repository kroxylicious/kroxylicious, pull requests merged in 2024-01, with the labels that each got.

#850 Fix #841: ensure envelope encryption filter transits record offsets unchanged.
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-encryption/pom.xml
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/ProduceRequestDataCondition.java
  kroxylicious-filters/kroxylicious-simple-transform/src/main/java/io/kroxylicious/proxy/filter/simpletransform/FetchResponseTransformationFilter.java
  kroxylicious-filters/kroxylicious-simple-transform/src/main/java/io/kroxylicious/proxy/filter/simpletransform/ProduceRequestTransformationFilter.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionFilterIT.java
  kroxylicious-sample/src/main/java/io/kroxylicious/sample/util/SampleFilterTransformer.java
Labels: filter: encryption

#843 Add unit tests to support #838
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
  kroxylicious-kms-provider-kroxylicious-inmemory/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryEdek.java
  kroxylicious-kms-provider-kroxylicious-inmemory/src/main/java/io/kroxylicious/kms/provider/kroxylicious/inmemory/InMemoryKms.java
Labels: tests

#862 Do not retry on unknown entity exception
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/ResilientKms.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/ResilientKmsTest.java
Labels: filter: encryption

#861 Kms metrics
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryption.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/InstrumentedKms.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/KmsMetrics.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/MicrometerKmsMetrics.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/InstrumentedKmsTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/MicrometerKmsMetricsTest.java
  kubernetes-examples/envelope-encryption/README.md
  kubernetes-examples/envelope-encryption/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/envelope-encryption/base/kroxylicious/kroxylicious-deployment.yaml
  kubernetes-examples/envelope-encryption/base/kroxylicious/kroxylicious-service.yaml
Labels: filter: encryption

#867 Quick fix for stage-release.sh - reset nounset
  scripts/stage-release.sh
Labels: bug, release-process

#890 Add integration test testing upstream TLS client-auth
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/Tls.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/KeyPairTest.java
Labels: enhancement

#898 Fix #896: In TLS config, use passwordFile as property to accept password material from a file rather than filePath.
  CHANGELOG.md
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/FilePassword.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/FilePasswordFilePath.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/PasswordProvider.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/FilePasswordTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/KeyStoreTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/TlsTestConstants.java
  kubernetes-examples/snirouting_tls/base/kroxylicious/kroxylicious-config.yaml
Labels: bug

#897 Refactor InBandKeyManager#encrypt to operate on MemoryRecords
  kroxylicious-filter-test-support/pom.xml
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/record/RecordTestUtils.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/record/RecordTestUtilsTest.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/KeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
Labels: filter: encryption

#906 Refactor InBandKeyManager#decrypt to operate on MemoryRecords
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilter.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/KeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
Labels: filter: encryption

#917 Bump GitHub login action to v3.
  .github/workflows/docker.yaml
Labels: build

#910 Envelope encryption preserve batches within MemoryRecords
  CHANGELOG.md
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/assertj/HeaderAssert.java
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/assertj/MemoryRecordsAssert.java
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/assertj/RecordAssert.java
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/assertj/RecordBatchAssert.java
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/record/RecordTestUtils.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/Assertions.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/HeaderAssertTest.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/KafkaAssertionsTest.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/MemoryRecordsAssertTest.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/RecordAssertTest.java
  kroxylicious-filter-test-support/src/test/java/io/kroxylicious/test/assertj/RecordBatchAssertTest.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/Receiver.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/InBandKeyManager.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/inband/Parcel.java
  kroxylicious-filters/kroxylicious-encryption/src/main/java/io/kroxylicious/filter/encryption/records/BatchAwareMemoryRecordsBuilder.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/EnvelopeEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/InBandKeyManagerTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/inband/ParcelTest.java
  kroxylicious-filters/kroxylicious-encryption/src/test/java/io/kroxylicious/filter/encryption/records/BatchAwareMemoryRecordsBuilderTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/EnvelopeEncryptionFilterIT.java
Labels: filter: encryption

#928 Address asciidoc warning emitted during rendering of the deployment doc
  docs/deploying.adoc
Labels: documentation
