Repository kroxylicious/kroxylicious, pull requests merged in 2024-11, with the labels that each got.

#1591 operator: add recommended informational labels to operator managed resources
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ClusterService.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/Labels.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeployment.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/dupeclusters/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/dupeclusters/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/dupeclusters/out-Service-dupe.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/dupeclusters/out-Service-notadupe.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Service-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-foo.yaml
Labels: operator

#1609 operator: Use absolute service host for brokerAddressPattern
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ClusterService.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/in-One-filter-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/in-Two-filter-two.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-api-not-declared/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-One-filter-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-Two-filter-two.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Service-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-One-filter-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-Two-filter-two.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Service-foo.yaml
Labels: bug, operator

#1621 Bug fixes to promote-release
  .github/workflows/promote_release.yaml
  scripts/transition-staging-repository-state.sh
Labels: release-process
