Repository kroxylicious/kroxylicious, pull requests merged in 2025-09, with the labels that each got.

#2639 Upgrade to netty 4.1.126.Final
  pom.xml
Labels: dependencies, runtime

#2659 chore: Remove deprecated adminHttp configuration property
  CHANGELOG.md
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/admin/ManagementConfiguration.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
Labels: lifecycle/removal

#2674 [System Tests] restore operator image environment variables
  DEV_GUIDE.md
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorYamlInstaller.java
Labels: test/system-test

#2703 fix: more IT fixes for Java 25
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
Labels: test

#2700 [System Tests] Using the operator artifact produced by kroxylicious-operator-dist
  .github/workflows/documentation-tests.yml
  DEV_GUIDE.md
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
Labels: test/system-test

#2705 docs(readme): updates for abstracts and content types
  kroxylicious-docs/README.md
Labels: documentation
