Repository kroxylicious/kroxylicious, pull requests merged in 2025-03, with the labels that each got.

#1875 Fix FilterIT test
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/FilterIT.java
Labels: tests

#1876 Run operator minikube tests
  .github/workflows/maven.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorMainIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
Labels: operator, essential

#1877 Testcontainers uses docker mirror
  kroxylicious-integration-test-support/pom.xml
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/MirrorImageNameSubstitutor.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/MirrorImageNameSubstitutorTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ApiVersionsDowngradeIT.java
  kroxylicious-integration-tests/src/test/resources/testcontainers.properties
Labels: bug

#1888 docs(gateway): updates a couple of listener references for gateway example
  docs/modules/configuring/ref-configuring-proxy-example.adoc
Labels: documentation

#1874 Change virtual cluster map into a list
  CHANGELOG.md
  docs/modules/configuring/con-configuration-outline.adoc
  docs/modules/configuring/con-configuring-filters.adoc
  docs/modules/configuring/con-configuring-vc-client-tls.adoc
  docs/modules/configuring/con-configuring-vc-gateways.adoc
  docs/modules/configuring/con-configuring-vc-other-settings.adoc
  docs/modules/configuring/con-configuring-vc-target-tls.adoc
  docs/modules/configuring/ref-configuring-proxy-example.adoc
  kroxylicious-app/example-proxy-config.yaml
  kroxylicious-app/src/test/resources/proxy-config.yaml
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousConfigUtils.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/KroxyliciousTestersTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/DeprecatedConfigurationIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ExpositionIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/FilterIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/multitenant/BaseMultiTenantIT.java
  kroxylicious-kms-provider-aws-kms/DEV_GUIDE.md
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Secret-use-pod-template-spec.yaml
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/VirtualCluster.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/VirtualClusterTest.java
  kroxylicious-runtime/src/test/resources/config.yaml
  kroxylicious-sample/sample-proxy-config.yaml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kubernetes-examples/filters/multi-tenant/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/filters/record-encryption/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/portidentifiesnode_plain/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/snihostidentifiesnode_tls/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/snihostidentifiesnode_tls_in_cluster/base/kroxylicious/kroxylicious-config.yaml
  performance-tests/02-no-filters/config.yaml
  performance-tests/03-transform-filter/config.yaml
  performance-tests/04-record-encryption-filter/config.yaml
Labels: configuration api, refactoring

#1892 fixup CRD filename
  kroxylicious-operator/src/main/resources/META-INF/fabric8/kafkaprotocolfilters.filter.kroxylicious.io-v1.yml
Labels: bug, operator

#1899 Fix #1573: Minimal proxy health probe (livez only)
  CHANGELOG.md
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeployment.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/admin/AdminHttpInitializer.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
Labels: enhancement, runtime, operator, essential

#1905 Operator Refactor: deterministically order labels
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/Labels.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeployment.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/LabelsTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Service-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Service-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters/out-Service-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Service-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Secret-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Service-one.yaml
Labels: refactoring, operator

#1904 Operator Refactor: add utils for accessing common metadata
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ClusterService.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/Labels.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeployment.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/SharedKafkaProxyContext.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
Labels: refactoring, operator

#1898 Report absence of KCR at the Proxy level
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ClusterCondition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/cond-Accepted-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-KafkaClusterRef-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-KafkaProtocolFilter-filter-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Service-foo.yaml
Labels: enhancement, operator, essential

#1913 Fix #1906: Fix unstable Operator IT test
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
Labels: bug, tests

#1915 fix: avoid spurious deprecation warning 'ClusterNetworkAddressConfigProvider is deprecated' during startup with new config
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/model/VirtualClusterModel.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/TlsTestConstants.java
Labels: bug

#1918 Remove deprecated `filePath` config property.
  CHANGELOG.md
  kroxylicious-api/pom.xml
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/secret/FilePassword.java
  kroxylicious-api/src/test/java/io/kroxylicious/proxy/config/tls/TlsParseTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
Labels: configuration api, refactoring, deprecation

#1917 Fix #1903: Rename `adminHttp` to `management` in the config model
  CHANGELOG.md
  docs/modules/configuring/con-configuring-toplevel-other-settings.adoc
  docs/modules/monitoring/con-integrating-micrometer.adoc
  docs/modules/monitoring/proc-introducing-metrics.adoc
  kroxylicious-app/example-proxy-config.yaml
  kroxylicious-app/src/test/resources/proxy-config.yaml
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/proxy/config/BuilderConfig.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/ManagementClient.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/MetricsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/oauthbearer/OauthBearerValidationIT.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigSecret.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Secret-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-Secret-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Secret-use-pod-template-spec.yaml
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/admin/AdminHttpConfiguration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/admin/ManagementConfiguration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/admin/ManagementInitializer.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/resources/config.yaml
  kroxylicious-sample/sample-proxy-config.yaml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kubernetes-examples/filters/multi-tenant/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/filters/record-encryption/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/portidentifiesnode_plain/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/snihostidentifiesnode_tls/base/kroxylicious/kroxylicious-config.yaml
  kubernetes-examples/network-topologies/snihostidentifiesnode_tls_in_cluster/base/kroxylicious/kroxylicious-config.yaml
  performance-tests/02-no-filters/config.yaml
  performance-tests/03-transform-filter/config.yaml
  performance-tests/04-record-encryption-filter/config.yaml
Labels: configuration api, refactoring

#1925 Make minikube detection fail more quickly if minikube (etc) isn't available
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorTestUtils.java
Labels: tests

#1953 Operator ITs - log pod status if operand image preload fails
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorTestUtils.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
Labels: tests

#1958 Rename KafkaClusterRef to KafkaService
  kroxylicious-operator/examples/record-encryption/03.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/examples/record-validation/03.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/examples/simple/02.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/KafkaServiceRef.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigConfigMap.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImpl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ResolutionResult.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/kafkaservices.kroxylicious.io-v1.yml
  kroxylicious-operator/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/api/common/KafkaServiceRefTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorMainIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorMainTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/ClusterConditionUnresolvedDependencyReporterTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImplTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/cond-Accepted-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-KafkaService-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/in-KafkaService-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-KafkaService-myref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/in-KafkaService-myref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-KafkaService-barref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-KafkaService-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-KafkaService-barref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-KafkaService-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/cond-Accepted-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/in-KafkaService-fooref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-KafkaService-myref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-KafkaService-myref.yaml
Labels: refactoring, operator

#1963 refactor: replace targetCluster with targetKafkaServiceRef
  kroxylicious-operator/examples/record-encryption/04.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/examples/record-validation/04.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/examples/simple/03.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImpl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ResolutionResult.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/ClusterConditionUnresolvedDependencyReporterTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImplTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/in-VirtualKafkaCluster-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-VirtualKafkaCluster-one.yaml
Labels: refactoring, operator

#1959 Operator: refactor map of cluster results to a set
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImpl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ResolutionResult.java
Labels: refactoring, operator

#1964 Replace GenericKubernetesResource with KafkaProtocolFilter
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/OperatorMain.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigConfigMap.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/SharedKafkaProxyContext.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/config/RuntimeDecl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImpl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ResolutionResult.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImplTest.java
Labels: refactoring, operator

#1979 Use gsed in run-operator when running on a Mac.
  scripts/run-operator.sh
Labels: operator

#1971 Add `KafkaProtocolFilterReconciler`
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/OperatorMain.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigConfigMap.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/SecureConfigInterpolator.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/kafkaprotocolfilters.filter.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/KafkaProtocolFilterStatusAssert.java
Labels: operator

#1992 Add `VirtualKafkaClusterReconciler`
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/install/03.Deployment.kroxylicious-operator.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/OperatorMain.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/VirtualKafkaClusterStatusAssert.java
Labels: enhancement, operator

#1983 Build operand image in Minikube as part of CI
  .github/workflows/maven.yaml
Labels: release-process

#1977 [System Tests] Plain use cases with CRs
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/TestTags.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/KubeClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/metrics/MetricsCollector.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/DeploymentUtils.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/NamespaceUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
Labels: system tests

#2000 [System Tests] adding Fortanix KMS support
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kms/fortanix/KubeFortanixTestKmsFacadeFactory.java
  kroxylicious-systemtests/src/main/resources/META-INF/services/io.kroxylicious.kms.service.TestKmsFacadeFactory
Labels: system tests

#1976 Tidy up ClusterRoles now filters aren't special
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-filter-generic.yaml
  kroxylicious-operator/install/02.ClusterRoleBinding.kroxylicious-operator-filter-generic.yaml
Labels: refactoring, operator

#1999 [Operator Reconciliation ITs] Run Operator under RBAC restrictions.
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/LocallyRunningOperatorRbacHandler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorMainIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorTestUtils.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerIT.java
Labels: tests, operator
