Repository kroxylicious/kroxylicious, pull requests merged in 2025-05, with the labels that each got.

#2111 Operator: KafkaProtocolFilter add referent checksum annotation
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/MetadataChecksumGenerator.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/MetadataChecksumGeneratorTest.java
Labels: enhancement, operator

#2108 [System Tests] refactored kroxylicious image repo
  DEV_GUIDE.md
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/metrics/ScraperTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/TestUtils.java
Labels: system tests

#2118 Update strimzi example url installed by run-operator.sh
  scripts/run-operator.sh
Labels: bug, operator, development

#2114 Fix: #2113: ensure that filter handler does not leak deferred opaque requests/responses if the upstream or downstream side closes unexpectedly
  CHANGELOG.md
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueRequestFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueResponseFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/FilterHandler.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/FilterHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/FilterHarness.java
Labels: bug

#2092 Consume referent checksum
  .idea/codeStyles/codeStyleConfig.xml
  Dockerfile.operator
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/MetadataAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ObjectMetaAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertions.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/MetadataAssertTest.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyContext.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/MetadataChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/Crc32ChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/MetadataChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolver.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/Crc32ChecksumGeneratorTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressStatusFactoryTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResourceTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/checksum/FixedChecksumGenerator.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/kafka-service-with-tls/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-Deployment-minimal.yaml
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/DeploymentUtils.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/NamespaceUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
  scripts/build-operator.sh
  scripts/common.sh
  scripts/run-operator.sh
Labels: enhancement, operator

#2117 Enable Dockerfile renovation with renovate bot.
  .github/renovate.json
Labels: build

#2131 [SystemTest] fix operator change detection ST
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
Labels: system tests

#2119 operator: add referent checksum to KafkaService
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourceCheckResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/MetadataChecksumGenerator.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/Crc32ChecksumGeneratorTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
Labels: operator

#2107 More operator docs
  docs/assemblies/assembly-operator-configuring-kafkaprotocolfilters.adoc
  docs/assemblies/assembly-operator-configuring-kafkaproxies.adoc
  docs/assemblies/assembly-operator-configuring-kafkaproxyingresses.adoc
  docs/assemblies/assembly-operator-configuring-kafkaservices.adoc
  docs/assemblies/assembly-operator-configuring-virtualkafkaclusters.adoc
  docs/assemblies/assembly-operator-deploy-a-proxy.adoc
  docs/assemblies/assembly-operator-install.adoc
  docs/assemblies/assembly-operator-secure-client-proxy-connection.adoc
  docs/assemblies/assembly-operator-secure-filter.adoc
  docs/assemblies/assembly-operator-secure-proxy-broker-connection.adoc
  docs/assemblies/assembly-operator-secure-proxy.adoc
  docs/kroxylicious-operator/index.adoc
  docs/modules/configuring/con-configuring-kafkaservice-cipher.adoc
  docs/modules/configuring/con-configuring-kafkaservice-protocol.adoc
  docs/modules/configuring/con-configuring-kafkaservice-trust.adoc
  docs/modules/configuring/con-configuring-tls-between-client-and-proxy.adoc
  docs/modules/configuring/con-kafkaprotocolfilter-secrets.adoc
  docs/modules/configuring/con-kafkaproxy.adoc
  docs/modules/configuring/con-kafkaproxyingress-for-on-cluster-access.adoc
  docs/modules/configuring/con-kafkaservice-by-bootstrap.adoc
  docs/modules/configuring/con-tls-auth-to-kafka-cluster.adoc
  docs/modules/configuring/con-understanding-kafkaproxyingress-status.adoc
  docs/modules/configuring/con-understanding-virtualkafkacluster-status.adoc
  docs/modules/configuring/con-virtualkafkacluster-tcp.adoc
  docs/modules/ref-glossary.adoc
Labels: documentation, operator

#2143 Use a single log4j version across the whole project.
  kroxylicious-operator/pom.xml
Labels: build

#2142 Avoid httpclient duplicate factory warning in system tests too.
  kroxylicious-systemtests/pom.xml
Labels: system tests

#2135 Require client certificates by default if user supplies downstream trust
  CHANGELOG.md
  docs/modules/configuring/con-configuring-vc-client-tls.adoc
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/tls/NettyTrustProvider.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/tls/NettyTrustProviderTest.java
Labels: documentation, runtime

#2104 added Tls system test
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaClusterRefTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaProxyIngressTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaProxyTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousVirtualKafkaClusterTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/KafkaUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
Labels: system tests

#2156 Fix promote release to account for the fact we now have several check-runs
  .github/workflows/promote_release.yaml
Labels: build

#2162 [AWS KMS Tests] Remove localstack pseudo rotate
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/AbstractAwsKmsTestKmsFacade.java
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/model/ListKeyRotationsRequest.java
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/model/ListKeyRotationsResponse.java
  kroxylicious-kms-provider-aws-kms-test-support/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsTestKmsFacadeTest.java
Labels: KMS

#2160 Make the BOM use reproducible-builds too
  kroxylicious-bom/pom.xml
Labels: build

#2163 Fix #1871: Remove deprecated configuration property bootstrap_servers
  CHANGELOG.md
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ExpositionIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/TargetCluster.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/TargetClusterTest.java
Labels: configuration api, refactoring

#2157 Consume checksum from filters
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/Crc32ChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/MetadataChecksumGenerator.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResourceTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/checksum/Crc32ChecksumGeneratorTest.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
  scripts/build-operator.sh
  scripts/common.sh
Labels: operator, essential

#2173 [Docs] Fortanix DSM KMS plugin does not work with keys in the deactivated state
  docs/modules/record-encryption/fortanix-dsm/con-fortanix-dsm-setup.adoc
Labels: documentation, filter: record-encryption, KMS

#2137 Refactor reconcilers to operate on ClusterResolutionResult
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ClusterServiceDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigStateDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModel.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModelBuilder.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/IngressAllocator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/IngressDefinition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/IngressDefinitionBuilder.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/IngressInstance.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/Ingresses.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ClusterResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolver.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/IngressResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ProxyResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ResolutionResult.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverTest.java
Labels: operator

#2178 bugfix: operator do not emit empty downstream trust object
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-controls/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-ConfigMap-minimal-proxy-config.yaml
Labels: bug, operator, essential

#2130 Operator packaging
  .github/workflows/operator-maven.yaml
  kroxylicious-app/pom.xml
  kroxylicious-app/src/main/docker/proxy.dockerfile
  kroxylicious-operator/packaging/examples/downstream-tls/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/03.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/04.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/05.Issuer.self-signed-issuer.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/06.Certificate.server-certificate.yaml
  kroxylicious-operator/packaging/examples/downstream-tls/README.md
  kroxylicious-operator/packaging/examples/record-encryption/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/record-encryption/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/record-encryption/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/record-encryption/03.Filter.encryption.yaml
  kroxylicious-operator/packaging/examples/record-encryption/04.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-encryption/05.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-encryption/README.md
  kroxylicious-operator/packaging/examples/record-transforming/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/record-transforming/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/record-transforming/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/record-transforming/03.Filter.transforming.yaml
  kroxylicious-operator/packaging/examples/record-transforming/04.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-transforming/05.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-transforming/README.md
  kroxylicious-operator/packaging/examples/record-validation/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/record-validation/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/record-validation/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/record-validation/03.Filter.validation.yaml
  kroxylicious-operator/packaging/examples/record-validation/04.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-validation/05.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/record-validation/README.md
  kroxylicious-operator/packaging/examples/simple/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/simple/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/simple/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/simple/03.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/simple/04.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/simple/README.md
  kroxylicious-operator/packaging/examples/upstream-tls/00.Namespace.my-proxy.yaml
  kroxylicious-operator/packaging/examples/upstream-tls/01.KafkaProxy.simple.yaml
  kroxylicious-operator/packaging/examples/upstream-tls/02.KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/packaging/examples/upstream-tls/03.KafkaService.my-cluster.yaml
  kroxylicious-operator/packaging/examples/upstream-tls/04.VirtualKafkaCluster.my-cluster.yaml
  kroxylicious-operator/packaging/examples/upstream-tls/README.md
  kroxylicious-operator/packaging/install/00.Namespace.kroxylicious-operator.yaml
  kroxylicious-operator/packaging/install/01.ClusterRole.kroxylicious-operator-dependent.yaml
  kroxylicious-operator/packaging/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/packaging/install/01.ServiceAccount.kroxylicious-operator.yaml
  kroxylicious-operator/packaging/install/02.ClusterRoleBinding.kroxylicious-operator-dependent.yaml
  kroxylicious-operator/packaging/install/02.ClusterRoleBinding.kroxylicious-operator-watched.yaml
  kroxylicious-operator/packaging/install/03.Deployment.kroxylicious-operator.yaml
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/docker/operator.dockerfile
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/AbstractInstallKT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/MinikubeInstallKT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OcInstallKT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/OperatorInfo.java
  kroxylicious-operator/src/test/resources-filtered/operator-info.properties
  pom.xml
Labels: operator

#2145 Operator docs covering ingress TLS options
  docs/assemblies/assembly-operator-secure-client-proxy-connection.adoc
  docs/kroxylicious-operator/snippets
  docs/modules/configuring/con-configuring-kafkaservice-cipher.adoc
  docs/modules/configuring/con-configuring-kafkaservice-protocol.adoc
  docs/modules/configuring/con-configuring-tls-between-client-and-proxy.adoc
  docs/modules/configuring/con-virtualkafkacluster-mtls.adoc
  docs/modules/configuring/con-virtualkafkacluster-tls-cipher.adoc
  docs/modules/configuring/con-virtualkafkacluster-tls-protocol.adoc
  docs/snippets/snip-tls-cipher-suite.adoc
  docs/snippets/snip-tls-protocol-versions.adoc
Labels: documentation, essential

#2181 Fix up revert that went too far
  Dockerfile.operator
Labels: bug

#2191 Checksum virtual kafka cluster
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/Crc32ChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/checksum/MetadataChecksumGenerator.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResourceTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/checksum/Crc32ChecksumGeneratorTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/kafka-service-with-tls/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-controls/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-default-client-auth/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-none/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-requested/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-required/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
Labels: operator, essential

#2164 Fix #1873: Remove deprecated top-level configuration property filters
  CHANGELOG.md
  docs/modules/con-custom-filters.adoc
  docs/modules/configuring/con-configuring-filters.adoc
  docs/modules/multi-tenancy/proc-multi-tenancy.adoc
  docs/modules/oauthbearer/con-oauthbearer.adoc
  docs/modules/record-encryption/proc-configuring-record-encryption-filter.adoc
  docs/modules/record-validation/proc-record-validation.adoc
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/proxy/config/FilterDefinitionBuilder.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/DeprecatedConfigurationIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/SingleFilterFactoryInstanceTest.java
  kroxylicious-kms-provider-aws-kms/DEV_GUIDE.md
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/FilterDefinition.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/NamedFilterDefinition.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/bootstrap/FilterChainFactoryTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-sample/README.md
Labels: configuration api, refactoring

#2186 Delete deprecated FilterFactory implementations
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-multitenant/src/main/java/io/kroxylicious/proxy/filter/multitenant/MultiTenantTransformationFilterFactory.java
  kroxylicious-filters/kroxylicious-multitenant/src/main/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
  kroxylicious-filters/kroxylicious-multitenant/src/test/java/io/kroxylicious/proxy/filter/multitenant/MultiTenantTest.java
  kroxylicious-filters/kroxylicious-simple-transform/src/main/java/io/kroxylicious/proxy/filter/simpletransform/FetchResponseTransformationFilterFactory.java
  kroxylicious-filters/kroxylicious-simple-transform/src/main/java/io/kroxylicious/proxy/filter/simpletransform/ProduceRequestTransformationFilterFactory.java
  kroxylicious-filters/kroxylicious-simple-transform/src/main/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/multitenant/MultiTenantIT.java
  kroxylicious-sample/src/main/java/io/kroxylicious/sample/SampleFetchResponseFilterFactory.java
  kroxylicious-sample/src/main/java/io/kroxylicious/sample/SampleProduceRequestFilterFactory.java
  kroxylicious-sample/src/main/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
  kroxylicious-sample/src/test/java/io/kroxylicious/sample/SampleFilterIT.java
Labels: filter: multitenancy, deprecation

#2189 [System Tests] added more logs in case of failure and set proper tags for ST
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/TestTags.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/logs/TestLogCollector.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/DeploymentUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
Labels: enhancement, system tests

#2133 Adding integration tests for built-in metrics
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/CreateTopicRequest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/CreateTopicRequestFilter.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/MetricsIT.java
  kroxylicious-integration-tests/src/test/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
Labels: runtime, essential

#2187 Delete deprecated Tls constructor
  CHANGELOG.md
  kroxylicious-api/pom.xml
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/config/tls/Tls.java
Labels: runtime, deprecation

#2188 Delete deprecated bootstrapAddressPattern SNI gateway property
  CHANGELOG.md
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousConfigUtils.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/SniHostIdentifiesNodeIdentificationStrategy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProviderTest.java
Labels: runtime, deprecation

#2198 Require VirtualCluster name to be a valid DNS label
  CHANGELOG.md
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/VirtualCluster.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/VirtualClusterTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/config/FeaturesTest.java
Labels: enhancement, runtime

#2185 Enable users to inject virtual cluster name into SNI bootstrap address and advertised broker address pattern
  CHANGELOG.md
  docs/modules/configuring/con-configuring-vc-gateways.adoc
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousConfigUtils.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ExpositionIT.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/SniHostIdentifiesNodeIdentificationStrategy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/BrokerAddressPatternUtils.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/RangeAwarePortPerNodeClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/service/ClusterNetworkAddressConfigProviderService.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/PortIdentifiesNodeIdentificationStrategyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/SniHostIdentifiesNodeIdentificationStrategyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyBackendHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/RangeAwarePortPerNodeClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/model/VirtualClusterListenerModelTest.java
  kubernetes-examples/network-topologies/snihostidentifiesnode_tls/base/kroxylicious/kroxylicious-config.yaml
Labels: runtime, essential

#2206 operator: require cluster name plus ingress name to be <= 51 chars
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/CustomResourceValidationIT.java
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/virtualkafkacluster/ingresses/invalid-ingresses-ingressRef.name-plus-cluster-name-exceeds-51-characters.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/virtualkafkacluster/ingresses/valid-ingresses-ingressRef.name-plus-cluster-name-exactly-51-characters.yaml
Labels: operator

#2207 [Fix #2146] operator: only consider fresh referent ResolvedRefs conditions
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigStateDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModelBuilder.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ClusterResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ProxyResolutionResult.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverTest.java
Labels: bug, operator

#2190 Pull out a top level RecordEncryption guide
  docs/README.md
  docs/_assets/attributes.adoc
  docs/assemblies/assembly-aws-kms.adoc
  docs/assemblies/assembly-built-in-filters.adoc
  docs/assemblies/assembly-configuring-record-encryption-filter.adoc
  docs/assemblies/assembly-fortanix-dsm.adoc
  docs/assemblies/assembly-hashicorp-vault.adoc
  docs/assemblies/assembly-preparing-kms.adoc
  docs/assemblies/assembly-proxy-overview.adoc
  docs/assemblies/assembly-record-encryption-filter.adoc
  docs/developer-guide/_assets
  docs/developer-guide/assemblies
  docs/developer-guide/index.adoc
  docs/developer-guide/modules
  docs/index.adoc
  docs/modules/con-about-developer-guide.adoc
  docs/modules/con-api-compatability-developer.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-plugin-configuration.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config-identity-ec2-metadata.adoc
  docs/modules/record-encryption/aws-kms/con-aws-kms-service-config-identity-long-term.adoc
  docs/modules/record-encryption/con-about-record-encryption-guide.adoc
  docs/modules/record-encryption/con-example-kafkaprotocolfilter-resource.adoc
  docs/modules/record-encryption/con-example-proxy-config.adoc
  docs/modules/record-encryption/con-record-encryption-filter-config.adoc
  docs/modules/record-encryption/con-record-encryption-overview.adoc
  docs/modules/record-encryption/fortanix-dsm/con-fortanix-dsm-plugin-configuration.adoc
  docs/modules/record-encryption/fortanix-dsm/con-fortanix-dsm-setup.adoc
  docs/modules/record-encryption/hashicorp-vault/con-vault-plugin-configuration.adoc
  docs/record-encryption-guide/_assets
  docs/record-encryption-guide/assemblies
  docs/record-encryption-guide/index.adoc
  docs/record-encryption-guide/modules
  docs/record-encryption-guide/snippets
  pom.xml
Labels: documentation

#2224 Operator: Name each gateway in the proxy configuration after the underlying ingress
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/networking/ClusterIPClusterIngressNetworkingModelTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-ConfigMap-example-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/kafka-service-with-tls/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-ConfigMap-twocluster-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-ConfigMap-twocluster-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-ConfigMap-example-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-controls/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-default-client-auth/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-none/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-requested/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-required/out-ConfigMap-minimal-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-ConfigMap-minimal-proxy-config.yaml
Labels: operator, essential

#2225 Operator: Add loadBalancer to KafkaProxyIngress CRD
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaproxyingresses.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-clusterIP-and-loadBalancer-missing.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer-and-clusterIP-supplied.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer-not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.advertisedBrokerAddressPattern.has-port-specifier.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.advertisedBrokerAddressPattern.missing.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.advertisedBrokerAddressPattern.no-node-id-replacement.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.advertisedBrokerAddressPattern.not-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.advertisedBrokerAddressPattern.null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.bootstrapAddress.has-port-specifier.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.bootstrapAddress.missing.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.bootstrapAddress.not-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/invalid-loadBalancer.bootstrapAddress.null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxyingress/valid-loadBalancer.advertisedBrokerAddressPattern.string-contains-node-id-replacement.yaml
Labels: operator, essential
