Repository kroxylicious/kroxylicious, pull requests merged in 2025-06, with the labels that each got.

#2243 Fix #2239: Metrics - counting messages arriving/leaving the proxy
  kroxylicious-integration-test-support/pom.xml
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/SimpleMetricAssert.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/SimpleMetricAssertTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/MetricsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/DecodeAll.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/filter/RejectingCreateTopicFilter.java
  kroxylicious-integration-tests/src/test/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/BareSaslRequest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/BareSaslResponse.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/DecodedFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/DecodedRequestFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/DecodedResponseFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/Frame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueRequestFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/frame/OpaqueResponseFrame.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/FilterHandler.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/KafkaProxyFrontendHandler.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/KafkaProxyInitializer.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/codec/KafkaRequestDecoder.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/codec/KafkaRequestEncoder.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/codec/KafkaResponseDecoder.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/metrics/DeprecatedDownstreamMessageMetrics.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/metrics/DeprecatedUpstreamMessageMetrics.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/metrics/MessageMetrics.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/net/BootstrapEndpointBinding.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/net/BrokerEndpointBinding.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/net/EndpointBinding.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/util/Metrics.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/FilterHarness.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaAuthnHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyFrontendHandlerMockCollaboratorsTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyFrontendHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyInitializerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachineEndToEndTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachineTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/ResponseOrdererTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/KafkaRequestDecoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/RequestDecoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/RequestEncoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/ResponseDecoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/ResponseEncoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/metrics/MessageMetricsTest.java
Labels: essential, observability

#2273 [System Tests] OLM installation
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/KroxyliciousOperator.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorOlmBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorYamlInstaller.java
  pom.xml
Labels: release, system tests

#2269 Refactor to allow unit test #2266 (SNI hostname mismatch errors don't close connections)
  CHANGELOG.md
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/KafkaProxyInitializer.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyInitializerTest.java
Labels: refactoring, network

#2299 [System Tests] added ST to test two proxy resources in different namespaces
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/AbstractST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
Labels: system tests, operator

#2313 CRD: Enable user to specify proxy container resources
  kroxylicious-kubernetes-api/pom.xml
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaproxies.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/invalid-infrastructure-not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/invalid-proxyContainer-not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/invalid-resources.not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/cpu/invalid-cpu-not-string-or-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/cpu/invalid-cpu-string-doesnt-match-pattern.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/cpu/valid-cpu-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/cpu/valid-cpu-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/invalid-limits.not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/memory/invalid-memory-not-string-or-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/memory/invalid-memory-string-doesnt-match-pattern.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/memory/valid-memory-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/memory/valid-memory-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/valid-limits-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/limits/valid-limits-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/cpu/invalid-cpu-not-string-or-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/cpu/invalid-cpu-string-doesnt-match-pattern.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/cpu/valid-cpu-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/cpu/valid-cpu-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/invalid-requests.not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/memory/invalid-memory-not-string-or-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/memory/invalid-memory-string-doesnt-match-pattern.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/memory/valid-memory-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/memory/valid-memory-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/valid-requests-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/requests/valid-requests-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/valid-resources-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/resources/valid-resources-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/valid-proxyContainer-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/proxyContainer/valid-proxyContainer-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/valid-infrastructure-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/infrastructure/valid-infrastructure-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/replicas/invalid-replicas-negative.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/replicas/invalid-replicas-not-int.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/replicas/valid-replicas-max.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/replicas/valid-replicas-min.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/replicas/valid-replicas-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/valid-spec-empty.yaml
Labels: operator, essential

#2325 Add default resource requirements to operand proxy container
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/kafka-service-with-tls/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-and-clusterip-ingress/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-ingress-with-no-downstream-tls-on-cluster/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-ingress/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-shared-loadbalancer-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-controls/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-default-client-auth/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-none/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-requested/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-required/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-Deployment-minimal.yaml
Labels: operator, essential

#2323 Remove KafkaProxy.spec.podTemplate
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaproxies.kroxylicious.io-v1.yml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResourceTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/invalid-podTemplate-not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/invalid-podTemplate.metadata-not-object.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaproxy/invalid-podTemplate.metadata.labels-not-object.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-KafkaProxyIngress-cluster-ip.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-KafkaService-myref.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-VirtualKafkaCluster-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec-proxy-config.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Service-one-cluster-ip-bootstrap.yaml
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorChangeDetectionST.java
Labels: operator, essential

#2321 [System Tests] set 1 kafka broker for the majority of the tests
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
Labels: system tests

#2310 Docs for message size metrics (#2240)
  docs/_assets/monitoring-message-counters.excalidraw
  docs/_assets/monitoring-message-counters.svg
  docs/modules/monitoring/con-prometheus-metrics-proxy.adoc
Labels: documentation, essential

#2322 Fix #2222: Github workflow to make a multi-arch kaf container.
  .github/workflows/kaf.yaml
Labels: system tests

#2334 Docs for the record encryption metrics
  docs/assemblies/assembly-monitoring-record-encryption-filter.adoc
  docs/modules/record-encryption/con-metrics.adoc
  docs/record-encryption-guide/index.adoc
Labels: documentation, filter: record-encryption, essential

#2350 remove Operator supplied defaults for resources
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResourceTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/kafka-service-with-tls/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-and-clusterip-ingress/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-ingress-with-no-downstream-tls-on-cluster/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/loadbalancer-ingress/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-shared-loadbalancer-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-controls/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-default-client-auth/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-none/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-requested/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls-with-explicit-client-auth-required/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/virtualcluster-with-tls/out-Deployment-minimal.yaml
Labels: essential

#2340 Document how to specify container resources
  docs/assemblies/assembly-operator-operate-proxy.adoc
  docs/kroxylicious-operator/index.adoc
  docs/modules/configuring/con-kafkaproxy-cpu-memory-allocation.adoc
  docs/modules/record-encryption/con-metrics.adoc
Labels: documentation

#2348 fix: #2346: report failure to decrypt as within the fetch response.
  kroxylicious-filters/kroxylicious-record-encryption/etc/module-layering.xml
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryptionFilter.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/RecordEncryptionFilterTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
Labels: bug, filter: record-encryption

#2359 fix: report only the UnknownKeyException with RESOURCE_NOT_FOUND (not other KmsExceptions exceptions).
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryptionFilter.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/RecordEncryptionFilterTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
Labels: bug, filter: record-encryption

#2376 fail promotion early if release PR is not approved
  .github/workflows/promote_release.yaml
  .github/workflows/stage_release.yaml
Labels: release

#2386 fix: correct incorrect PodMonitor selector on the proxy PM resource
  docs/modules/monitoring/proc-operator-ingesting-metrics-operator.adoc
  docs/modules/monitoring/proc-operator-ingesting-metrics-proxy.adoc
Labels: kind/bug, documentation, kube/operator
