Repository kroxylicious/kroxylicious, pull requests merged in 2025-07, with the labels that each got.

#2396 Document how to run system tests with locally built images when using Minikube.
  DEV_GUIDE.md
Labels: documentation, dev

#2414 Remove deprecated gateway code - part 1
  CHANGELOG.md
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/DefaultKroxyliciousTester.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousConfigUtils.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/proxy/config/ConfigurationTest.java
  kroxylicious-integration-test-support/src/test/java/io/kroxylicious/test/tester/DefaultKroxyliciousTesterTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/DeprecatedConfigurationIT.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertionsTest.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssertTest.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/VirtualCluster.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/RangeAwarePortPerNodeClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/resources/META-INF/services/io.kroxylicious.proxy.service.ClusterNetworkAddressConfigProviderService
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/VirtualClusterTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyBackendHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/PortPerBrokerClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/model/VirtualClusterListenerModelTest.java
Labels: runtime, kind/refactoring, lifecycle/deprecation

#2418 Remove deprecated gateway code - part 2
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/proxy/config/ClusterNetworkAddressConfigProviderDefinitionBuilder.java
  kroxylicious-integration-test-support/src/main/java/io/kroxylicious/test/tester/KroxyliciousConfigUtils.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/ExpositionIT.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssert.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/networking/ClusterIngressNetworkingModel.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/networking/LoadBalancerClusterIngressNetworkingModel.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/networking/TcpClusterIPClusterIngressNetworkingModel.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/networking/TlsClusterIPClusterIngressNetworkingModel.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/networking/LoadBalancerClusterIngressNetworkingModelTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/networking/TcpClusterIPClusterIngressNetworkingModelTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/networking/TlsClusterIPClusterIngressNetworkingModelTest.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/BrokerAddressPatternUtils.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/ClusterNetworkAddressConfigProviderDefinition.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Configuration.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/NamedRange.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/NodeIdentificationStrategyFactory.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/PortIdentifiesNodeIdentificationStrategy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/Range.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/SniHostIdentifiesNodeIdentificationStrategy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/VirtualCluster.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/VirtualClusterGateway.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/RangeAwarePortPerNodeClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/model/VirtualClusterModel.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/service/ClusterNetworkAddressConfigProviderService.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/service/NodeIdentificationStrategy.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/PortIdentifiesNodeIdentificationStrategyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/RangeTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/SniHostIdentifiesNodeIdentificationStrategyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/VirtualClusterListenerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/VirtualClusterTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/FilterHarness.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyBackendHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyInitializerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/Config.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/RangeAwarePortPerNodeClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProviderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/model/VirtualClusterListenerModelTest.java
Labels: runtime, kind/refactoring

#2400 refactor: #2397 replace rendered asciiart based diagrams in the docs with those drawn with Excalidraw
  docs/_assets/cluster-filter-chain.excalidraw
  docs/_assets/cluster_topology_many_to_one.excalidraw
  docs/_assets/cluster_topology_one_to_one.excalidraw
  docs/_assets/filter-short-circuiting.excalidraw
  docs/_assets/landscape.excalidraw
  docs/_assets/oauth-bearer-validation-seq.excalidraw
  docs/_modules/con-custom-filters.adoc
  docs/_modules/con-proxy-overview.adoc
  docs/_modules/oauthbearer/con-oauthbearer.adoc
  docs/images/cluster-filter-chain.svg
  docs/images/cluster_topology_many_to_one.svg
  docs/images/cluster_topology_one_to_one.svg
  docs/images/filter-short-circuiting.svg
  docs/images/landscape.svg
  docs/images/oauth-bearer-validation-seq.svg
  pom.xml
Labels: documentation, kind/refactoring

#2422 Expand TLS hint.
  kroxylicious-runtime/pom.xml
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachine.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/util/StableKroxyliciousLinkGenerator.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/model/VirtualClusterModel.java
  kroxylicious-runtime/src/main/resources/META-INF/stablelinks.properties
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/config/ConfigParserTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/util/StableKroxyliciousLinkGeneratorTest.java
Labels: kind/enhancement, runtime

#2454 bugfix: docker build not triggering for pull requests from forks
  .github/workflows/docker.yaml
Labels: kind/bug, dev/github_actions

#2455 refactor: make oauth bearer validation filter content into a standalone guide.
  CHANGELOG.md
  docs/_assemblies/assembly-built-in-filters.adoc
  docs/_assemblies/assembly-configuring-oauth-bearer-validation-filter.adoc
  docs/_assets/attributes.adoc
  docs/_modules/oauth-bearer-validation/con-about-oauth-bearer-validation-guide.adoc
  docs/_modules/oauth-bearer-validation/con-example-kafkaprotocolfilter-resource.adoc
  docs/_modules/oauth-bearer-validation/con-example-proxy-config.adoc
  docs/oauth-bearer-validation/_assemblies
  docs/oauth-bearer-validation/_assets
  docs/oauth-bearer-validation/_modules
  docs/oauth-bearer-validation/_snippets
  docs/oauth-bearer-validation/doc.yaml
  docs/oauth-bearer-validation/images
  docs/oauth-bearer-validation/index.adoc
Labels: documentation, filter/oauth-bearer-validation

#2474 Add `ClientTlsContext`
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/filter/FilterContext.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/tls/ClientTlsContext.java
  kroxylicious-api/src/main/java/io/kroxylicious/proxy/tls/package-info.java
  kroxylicious-filter-test-support/src/main/java/io/kroxylicious/test/assertj/HeaderAssert.java
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/AbstractTlsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/PluginTlsApiIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/TlsIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/testplugins/AbstractProduceHeaderInjectionFilter.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/testplugins/ClientAuthAwareLawyerFilter.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/testplugins/ClientTlsAwareLawyer.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/testplugins/package-info.java
  kroxylicious-integration-tests/src/test/resources/META-INF/services/io.kroxylicious.proxy.filter.FilterFactory
  kroxylicious-microbenchmarks/src/main/java/io/kroxylicious/microbenchmarks/InvokerDispatchBenchmark.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/ClientTlsContextImpl.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/FilterHandler.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/FilterHandlerTest.java
Labels: kind/enhancement, runtime, filter/api

#2501 docs(fix): line break fix for breaking build
  docs/_modules/record-encryption/hashicorp-vault/con-vault-setup.adoc
Labels: documentation

#2508 fix: record encryption deterministically fails with large messages
  CHANGELOG.md
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryption.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/encrypt/InBandEncryptionManager.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/encrypt/InBandEncryptionManagerTest.java
  kroxylicious-integration-tests/pom.xml
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
Labels: kind/bug, filter/record-encryption

#2514 fix[system tests]: fix flakey system test (KroxyliciousST#scaleDownKroxylicious)
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
Labels: test/system-test
