Repository kroxylicious/kroxylicious, pull requests merged in 2025-04, with the labels that each got.

#2008 [System Tests] using fluent api for CR deployment
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/KroxyliciousResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaClusterRefTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaProxyIngressTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousKafkaProxyTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousVirtualKafkaClusterTemplates.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
Labels: system tests

#1955 Fix #1954: Generate asciidoc entrypoint file for kroxylicious-proxy book
  scripts/stage-docs.sh
Labels: documentation, release-process

#2016 ZonedDateTime -> Instant
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/Condition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/InstantDeserializer.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/InstantSerializer.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigData.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/api/common/ConditionTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ConditionAssert.java
Labels: refactoring, operator

#2017 Network metrics
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/KafkaProxy.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/KafkaProxyFrontendHandler.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/KafkaProxyInitializer.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/MeterRegistries.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachine.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/codec/KafkaRequestDecoder.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/util/Metrics.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/KafkaProxyFrontendHandlerTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachineEndToEndTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/ProxyChannelStateMachineTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/KafkaRequestDecoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/codec/RequestDecoderTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/util/MetricsTest.java
Labels: enhancement, runtime, essential

#2022 [System Tests] adapted record encryption test cases to CR deployment
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousDeploymentTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousFilterTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousServiceTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousVirtualKafkaClusterTemplates.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
Labels: system tests

#2021 Conditions attempt two
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/Condition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyContext.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigConfigMap.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigData.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourceState.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/StatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterStatusFactory.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourceStateTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ConditionAssert.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/KafkaProxyStatusAssert.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-ConfigMap-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-ConfigMap-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-ConfigMap-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-ConfigMap-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-ConfigMap-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-ConfigMap-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-ConfigMap-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-ConfigMap-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec.yaml
Labels: refactoring, operator

#2034 [System Tests] Test frame adoption for kubernetes functionality
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/clients/KafClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/clients/KcatClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kms/vault/Vault.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/KubeClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/KubeClusterResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/cluster/KubeCluster.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/cluster/Kubernetes.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/ResourceCondition.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/ResourceOperation.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/ResourceType.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/ConfigMapResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/DeploymentResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/KroxyliciousResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/SecretResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kroxylicious/ServiceResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kubernetes/ClusterOperatorCustomResourceDefinition.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/strimzi/KafkaNodePoolResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/strimzi/KafkaNodePoolType.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/strimzi/KafkaResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/strimzi/KafkaType.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/strimzi/KafkaUserResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/strimzi/KafkaTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/KafkaVersionUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/AbstractST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousAppST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/extensions/KroxyliciousExtension.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/interfaces/TestSeparator.java
Labels: system tests

#2035 Refactor dependency resolution
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/api/common/Condition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/OperatorMain.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigReconcilePrecondition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigStateDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModel.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModelBuilder.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/IngressAllocator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/Ingresses.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ClusterResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolver.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImpl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ProxyResolutionResult.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverImplTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverTest.java
Labels: refactoring, operator

#2014 Operator: Upstream Node id declaration
  kroxylicious-operator/examples/record-encryption/04.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/examples/record-transforming/04.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/examples/record-validation/04.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/examples/simple/03.KafkaClusterRef.my-cluster.yaml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/ClusterIPIngressDefinition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/Ingresses.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/kafkaservices.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertions.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssert.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssertTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/ingress/ClusterIPIngressDefinitionTest.java
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-end-contains-decimal-point.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-end-less-than-start.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-end-missing.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-end-not-integer.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-end-null.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-name-empty.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-name-not-string.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-not-array.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-start-contains-decimal-point.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-start-missing.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-start-not-integer.yaml
  kroxylicious-operator/src/test/resources/CustomResourceValidationIT/kafkaservice/nodeIdRanges/invalid-nodeIdRanges-start-null.yaml
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/config/ConfigParser.java
Labels: enhancement, operator, essential

#2039 operator: add IT checking healing after danglingRef
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
Labels: tests, operator

#2041 Operator: Proxy reconciler ignores VirtualKafkaCluster with ResolvedRefs: False
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ClusterResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolver.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverTest.java
Labels: enhancement, operator

#2046 Fix #1829: Report downstream bootstrap address via the VirtualKafkaCluster status section.
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ingress/ClusterIPIngressDefinition.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/model/ingress/ClusterIPIngressDefinitionTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Service-foo-cluster-ip.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-ConfigMap-minimal-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Service-one-cluster-ip.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-Service-bar-cluster-ip-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Service-bar-cluster-ip-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-ConfigMap-twocluster-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-ConfigMap-example-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Service-foo-cluster-ip.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-ConfigMap-use-pod-template-spec-config-state.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Service-one-cluster-ip.yaml
Labels: operator

#2024 Update the localstack/localstack docker tag to v4.3.0 adapting to new LocalStack limited key rotation capabilities.
  kroxylicious-kms-provider-aws-kms-test-support/pom.xml
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/AbstractAwsKmsTestKmsFacade.java
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsTestKmsFacade.java
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/model/ListKeyRotationsRequest.java
  kroxylicious-kms-provider-aws-kms-test-support/src/main/java/io/kroxylicious/kms/provider/aws/kms/model/ListKeyRotationsResponse.java
  kroxylicious-kms-provider-aws-kms-test-support/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsTestKmsFacadeIT.java
  kroxylicious-kms-provider-aws-kms-test-support/src/test/java/io/kroxylicious/kms/provider/aws/kms/AwsKmsTestKmsFacadeTest.java
  kroxylicious-systemtests/src/main/resources/helm_localstack_overrides.yaml
Labels: filter: record-encryption

#2063 docs: Fix link to the kroxylicious-api module in developer's guide
  docs/modules/con-custom-filters.adoc
Labels: documentation

#2061 Put :kroxylicious-parent into Maven reactor to avoid CI error on pushes to main
  .github/workflows/operator-maven.yaml
Labels: build, github_actions

#2047 Operator: Proxy reconciler require VirtualKafkaCluster to be reconciled
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/StaleReferentStatusException.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/model/ProxyModelBuilder.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ClusterResolutionResult.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolver.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/resolver/ProxyResolutionResult.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/LocallyRunningOperatorRbacHandler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/resolver/DependencyResolverTest.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/in-VirtualKafkaCluster-one.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/in-VirtualKafkaCluster-bar.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/in-VirtualKafkaCluster-foo.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/in-VirtualKafkaCluster-one.yaml
Labels: enhancement, operator

#2066 Move Configuration construction to KafkaProxyReconciler
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ConfigurationFragment.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyContext.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigDependentResource.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyConfigReconcilePrecondition.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/DerivedResourcesTest.java
Labels: refactoring, operator

#2072 Remove a now redundant operator class
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/config/FilterApiDecl.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/config/package-info.java
Labels: refactoring

#2077 Apply the 'Restricted' pod security profile to the operator and proxy
  kroxylicious-operator/examples/simple/00.Namespace.my-proxy.yaml
  kroxylicious-operator/install/00.Namespace.kroxylicious-operator.yaml
  kroxylicious-operator/install/03.Deployment.kroxylicious-operator.yaml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ProxyDeploymentDependentResource.java
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/clusterref-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/colliding-secret-interpolation/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/filter-resource-not-found/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/minimal/out-Deployment-minimal.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-one-with-unresolved-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-clusterip-ingress/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-clusters-with-colliding-ingress-and-unresolved-filter/out-Deployment-twocluster.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/two-filters/out-Deployment-example.yaml
  kroxylicious-operator/src/test/resources/DerivedResourcesTest/use-pod-template-spec/out-Deployment-use-pod-template-spec.yaml
Labels: operator

#2062 Refactor the system tests to use the bootstrapServer from the VKC
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/Kroxylicious.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
Labels: tests, system tests, operator

#2093 Fixing KafkaService configmap/secret reconcilation NPEs
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
Labels: bug, operator

#2071 Generate a checksum based on the resolved proxy.
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-watched.yaml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProtocolFilterStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyReconciler.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaProxyStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/KafkaServiceStatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/MetadataChecksumGenerator.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/StatusFactory.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterStatusFactory.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaProxyIngressStatusFactoryTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/MetadataChecksumGeneratorTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/MetadataAssert.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertions.java
Labels: operator

#2095 Extract extra maven modules
  .idea/codeStyles/codeStyleConfig.xml
  kroxylicious-kubernetes-api/README.md
  kroxylicious-kubernetes-api/pom.xml
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/AnyLocalRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/Condition.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/FilterRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/IngressRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/KafkaServiceRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/LocalRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/ProxyRef.java
  kroxylicious-kubernetes-api/src/main/java/io/kroxylicious/kubernetes/api/common/package-info.java
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaprotocolfilters.filter.kroxylicious.io-v1.yml
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaproxies.kroxylicious.io-v1.yml
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaproxyingresses.kroxylicious.io-v1.yml
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/kafkaservices.kroxylicious.io-v1.yml
  kroxylicious-kubernetes-api/src/main/resources/META-INF/fabric8/virtualkafkaclusters.kroxylicious.io-v1.yml
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/AnyLocalRefTest.java
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/ConditionTest.java
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/FilterRefTest.java
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/IngressRefTest.java
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/KafkaServiceRefTest.java
  kroxylicious-kubernetes-api/src/test/java/io/kroxylicious/kubernetes/api/common/ProxyRefTest.java
  kroxylicious-operator-test-support/pom.xml
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/AbstractStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/AssertFactory.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ClusterAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ConditionAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ConditionListAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/KafkaProtocolFilterStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/KafkaProxyIngressStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/KafkaProxyStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/KafkaServiceStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/MetadataAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertions.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/VirtualKafkaClusterStatusAssert.java
  kroxylicious-operator-test-support/src/main/java/io/kroxylicious/kubernetes/operator/assertj/package-info.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ConditionAssertTest.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/MetadataAssertTest.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/OperatorAssertionsTest.java
  kroxylicious-operator-test-support/src/test/java/io/kroxylicious/kubernetes/operator/assertj/ProxyConfigAssertTest.java
  kroxylicious-operator/DEV_GUIDE.md
  kroxylicious-operator/pom.xml
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/api/common/ConditionTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerIT.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/KafkaServiceReconcilerTest.java
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  pom.xml
  scripts/run-operator.sh
Labels: refactoring, operator

#2102 operator: VKC reconciler ignores events from stale referents
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/ResourcesUtil.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconciler.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/ResourcesUtilTest.java
  kroxylicious-operator/src/test/java/io/kroxylicious/kubernetes/operator/VirtualKafkaClusterReconcilerTest.java
Labels: enhancement, operator
