Repository kroxylicious/kroxylicious, pull requests merged in 2025-02, with the labels that each got.

#1768 Record Encryption: enable user to specify policy when we cannot resolve a Key for a topic
  CHANGELOG.md
  docs/modules/record-encryption/proc-configuring-record-encryption-filter.adoc
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryption.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/RecordEncryptionFilter.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/TemplateTopicNameKekSelector.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/UnresolvedKeyException.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/RecordEncryptionConfig.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/TopicNameBasedKekSelector.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/TopicNameKekSelection.java
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/config/UnresolvedKeyPolicy.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/RecordEncryptionFilterTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/RecordEncryptionTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/config/RecordEncryptionConfigTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/config/TopicNameKekSelectionTest.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/encrypt/TemplateKekSelectorTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
Labels: filter: record-encryption

#1690 First approach to operator system tests
  kroxylicious-systemtests/pom.xml
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Constants.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/Environment.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/TestTags.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/installation/kroxylicious/KroxyliciousOperator.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/KubeClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/KubeClusterResource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/cmd/KubeCmdClient.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/exception/KubeClusterException.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/k8s/exception/UnsupportedInstallationType.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/Resource.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/kubernetes/ClusterOperatorCustomResourceDefinition.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/manager/ResourceManager.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/resources/operator/KroxyliciousOperatorBundleInstaller.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kubernetes/ClusterRoleBindingTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/metrics/ScraperTemplates.java
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/utils/NamespaceUtils.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/AbstractST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/KroxyliciousST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/MetricsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/NonJVMClientsST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/OperatorST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/RecordEncryptionST.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/extensions/KroxyliciousExtension.java
  kroxylicious-systemtests/src/test/java/io/kroxylicious/systemtests/interfaces/TestSeparator.java
  pom.xml
Labels: system tests, operator

#1854 refactoring - rename method requiresTls -> requiresServerNameIndication
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/clusternetworkaddressconfigprovider/SniRoutingClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/net/EndpointListener.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/net/EndpointRegistry.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/model/VirtualClusterModel.java
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/service/ClusterNetworkAddressConfigProvider.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/net/EndpointRegistryTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/model/VirtualClusterListenerModelTest.java
Labels: refactoring

#1858 Rename Filter to KafkaProtocolFilter
  kroxylicious-operator/examples/record-encryption/01.KafkaProxy.simple.yaml
  kroxylicious-operator/examples/record-encryption/02.Filter.encryption.yaml
  kroxylicious-operator/examples/record-validation/02.Filter.validation.yaml
  kroxylicious-operator/install/01.ClusterRole.kroxylicious-operator-filter-generic.yaml
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/OperatorMain.java
  kroxylicious-operator/src/main/java/io/kroxylicious/kubernetes/operator/config/FilterApiDecl.java
  kroxylicious-operator/src/main/resources/META-INF/fabric8/filters.filter.kroxylicious.io-v1.yml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/filter-resource-not-found/in-KafkaProtocolFilter-filter-one.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/filter-resource-not-found/in-KafkaProtocolFilter-filter-two.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/filter-resource-not-found/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/filter-resource-not-found/out-Secret-example.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/two-filters/in-KafkaProtocolFilter-filter-one.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/two-filters/in-KafkaProtocolFilter-filter-two.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/two-filters/in-KafkaProxy.yaml
  kroxylicious-operator/src/test/resources-filtered/DerivedResourcesTest/two-filters/out-Secret-example.yaml
Labels: operator, essential

#1857 Improve PortConflictDetector
  kroxylicious-runtime/src/main/java/io/kroxylicious/proxy/internal/PortConflictDetector.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/KafkaProxyTest.java
  kroxylicious-runtime/src/test/java/io/kroxylicious/proxy/internal/PortConflictDetectorTest.java
Labels: runtime, refactoring

#1868 Support use of $() in KEK selector templates, deprecating ${}
  CHANGELOG.md
  docs/modules/configuring/ref-configuring-proxy-example.adoc
  docs/modules/record-encryption/proc-configuring-record-encryption-filter.adoc
  kroxylicious-filters/kroxylicious-record-encryption/src/main/java/io/kroxylicious/filter/encryption/TemplateTopicNameKekSelector.java
  kroxylicious-filters/kroxylicious-record-encryption/src/test/java/io/kroxylicious/filter/encryption/encrypt/TemplateKekSelectorTest.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionDeserializationCompatibilityIT.java
  kroxylicious-integration-tests/src/test/java/io/kroxylicious/proxy/encryption/RecordEncryptionFilterIT.java
  kroxylicious-kms-provider-aws-kms/DEV_GUIDE.md
  kroxylicious-systemtests/src/main/java/io/kroxylicious/systemtests/templates/kroxylicious/KroxyliciousConfigMapTemplates.java
  kubernetes-examples/filters/record-encryption/base/kroxylicious/kroxylicious-config.yaml
  performance-tests/04-record-encryption-filter/config.yaml
Labels: filter: record-encryption, essential
